.wheels{
    display: flex;
    flex-flow: column wrap;
    background-color: #f5f5f5;
    width: 84%;
    justify-content:flex-start;
    font-size: 14px;
    font-weight: 500;
    color: #5c5d61;
}
.wheels-options{
    display: flex;
    flex-flow: column wrap;
    background-color: #f5f5f5;
    justify-content: space-between;
    height: 60px;
}
.wheels-options>div>input{
    width: 24px;
    height: 24px;
}
.wheels-name{
    display: flex;
    flex-flow: row wrap;
    background-color: #f5f5f5;
    justify-content: space-between;
    align-content: space-between;
    width: 114px;
}