.exterior-paint{
    display: flex;
    flex-flow: column wrap;
    background-color: #f5f5f5;
    width: 84%;
    font-weight: 500;
    font-size: 14px;
    color: #5c5d61;
}

.first-line{
    display: flex;
    flex-flow: row wrap;
    background-color: #f5f5f5;
    justify-content: space-between;
}
.first-line>div>input{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border:1px solid rgba(0,0,0,.1);
}
.second-line{
    display: flex;
    flex-flow: row wrap;
    background-color: #f5f5f5;
    justify-content: space-between;
    width: 34%;
    border: none;
}
.second-line>div>input{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border:1px solid rgba(0,0,0,.1);
}
.withe_color{
    background-color: white;
}
.black_color{
    background-color: black;
}
.brown_color{
    background-color: saddlebrown;
}
.blue_color{
    background-color: cornflowerblue;
}
.light_grey_color{
    background-color: grey;
}
.grey_color{
    background-color: dimgrey;
}
.red_color{
    background-color: #a61315;
}