.successState{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 30%;
    background-color: transparent;

}
.success>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;


}
.success>div>img{
    width: 20%;

}
.success>div>span{
    font-size: 20px;

}
.success{
    height: 40%;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: #CCD1C3;
}