.bottom-information-car{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: space-evenly;
    align-content: flex-end;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 24%;
    color: #5c5d61;
    font-size: 12px;
    font-weight: 500;
}

.bottom-right-information-car{
    display: flex;
    background-color: white;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 80%;
    width: 35%;
    align-content: space-between;
}
.bottom-right-information-car>div{
    display: flex;
    width: 80%;
    justify-content:space-between;
    height: 14px;
}
.bottom-right-information-car>div>div{
    display: flex;
    width: 100px;
}
.left-bottom-information{
    display: flex;
    background-color: white;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
}