.flex-item-left{
    width: 70%;
    height: 100vh;
}
.flex-item-left img {
    width: 100%;
}
.flex-item-left:after {
    content: "";
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    background:linear-gradient(to top, rgba(255, 102, 204,0.7), rgba(143, 0, 179,0.8) );
}
.flex-item-right {
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    justify-content: space-evenly;
    width: 30%;
    height: 100vh;
    visibility:visible;
    overflow: hidden;
}
.animation {
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    justify-content: space-evenly;
    width: 30%;
    height: 100vh;
    margin: 0;
    visibility:visible;
    animation-name: moveIn;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: relative;
    opacity: 1;
}

/*@keyframes move3 {*/
/*  0%   {margin-left:900px;position: absolute;visibility: visible;}*2
/*  25%  {margin-right: 200px;position: absolute;visibility: visible;}*/
/*  50%  { margin-right: 300px;position: absolute;visibility: visible;}*/
/*  75% {margin-left: 550px;position: absolute;visibility: hidden;}*/
/*  100% {margin-left: 450px;position: absolute;visibility: hidden;}*/
/*}*/


@keyframes moveIn {
    0%   {margin-left:900px;position: absolute;visibility: hidden;opacity: 1}
    25%  {margin-right: 200px;position: absolute;visibility: hidden;opacity: 0.7}
    50%  { margin-right: 300px;position: absolute;visibility: hidden;opacity: 0.6}
    75% {margin-left: 550px;position: absolute;visibility: hidden;opacity: 0}
    100% {margin-left: 450px;position: absolute;visibility: hidden;opacity: 0}
}



.header{
    font-family: Ubuntu;
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
}
.input {
    width: 99%;
    height: 30%;
    border-top:none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom-color: rgb(230, 230, 230);
    font-size: 18px;
    color: rgb(115, 115, 115);

}
label{
    font-family: Ubuntu;
    color: rgb(89, 89, 89);
}
span {
    font-family: Ubuntu;
    color: rgb(64, 64, 64);
    font-size: 13px;
}
p {
    font-family: Ubuntu;
    font-size: 13px;
    color:rgb(115, 115, 115);
}
.privacy{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    justify-content: center;
    align-items: flex-start;

}

.submit {
    height: 30px;
    border-radius: 15px;
    background:linear-gradient(to top, rgba(255, 102, 204,0.7), rgba(217, 102, 255,0.8) );
    color: white;
    cursor: pointer;
    width: 190px;
    border: none;
    -webkit-writing-mode: horizontal-tb;
    padding: 0px;
}
.sign-in {
    border: none;
    background-color:white;
    cursor: pointer;

}
.arrow {
    width: 100%;


}
.form{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}
.form>div{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    width: 88%;
    height: 25%;
    justify-content: space-between;

}
.text-danger{
    color: rgb(64, 64, 64);;
}
.buttons{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 88%;

}
.signInArrow>label{
    display: flex;
    flex-flow: row wrap;
    color: black ;
    width: 60px;
    align-content: center;
    font-size:15px ;

}
.signInArrow{
    width: 21%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;

}
.signInArrow>div{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

}
.submitSignUp{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.error{
    background-color:white;
    width: 30%;
    height: 620px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.error>div{
    background-color: #CCD1C3;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    height: 30%;
    justify-content: space-evenly;
    align-content: center;
    font-size: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.errorMessage{
    color: black;
    font-size: 15px;
}
.error>div>img{
    width: 10%;
}
.error>div>div{
    display: flex;
    flex-flow: column wrap;
}